<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Education</h1>
    <br>
    <div class="container border  p-5 border-white">
      <section class="about section">
                          <div class="section-inner">

                              <div class="content">
                                <div class="item">
                                  <h3 class="title">BTech Computer Science</h3>
                                  <h4 class="university"><a href="https://www.ipec.org.in/">Inderprastha Engineering College </a><span class="year"> (2015-2019)</span></h4>
                              </div>
                              <!--//content-->
                          </div>
                          <!--//section-inner-->
                      </section>
    </div>
    <br>
    <div class="container border  p-5 border-white">
      <section class="about section">
                          <div class="section-inner">

                              <div class="content">
                                <div class="item">
                                  <h3 class="title">ISC(XII)</h3>
                                  <h4 class="university"><a href="https://www.sdclko.com/">Spring Dale College </a><span class="year"> (2014-2015)</span></h4>
                              </div>
                              <!--//content-->
                          </div>
                          <!--//section-inner-->
                      </section>
    </div>
    <br>
    <div class="container border  p-5 border-white">
      <section class="about section">
                          <div class="section-inner">

                              <div class="content">
                                <div class="item">
                                  <h3 class="title">ICSE (X)</h3>
                                  <h4 class="university"><a href="https://www.sdclko.com/">Spring Dale College </a><span class="year"> (2012-2013)</span></h4>
                              </div>
                              <!--//content-->
                          </div>
                          <!--//section-inner-->
                      </section>
    </div>
    <br>

  {% endblock %}
