<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">About Me</h1>
    <br>
    <div class="container border  p-5 border-white">
      <section class="about section">
                          <div class="section-inner">
                            <div class="col-sm-6 col-md-6 col-xs-6  text-left">
                              <p>
                                    <h1 class="jumbotron-heading">Hi, I'm Harshit Srivastava</h1>
                            </div>
                                    <div class="container">
                                      <p class="lead">I am a self-taught Python developer obsessed with developing things. I enjoy building
                                      things. I started with Django and Django REST framework few months back and I have been in love with them ever since.
                                      I started with developing tutorials on their website creating polls app for Django and polls app API for Django REST framework. I like to explore and learn new technologies apart from professional work.
                                    As LEARNING NEVER STOPS.</p>
                                    </div>
                              </p>

                              <br>
                              <h4><b>TECH STACK:</b> </h4>
                            <div class="col-sm-6 col-md-6 col-xs-6  text-left">
                              <p>
                                <div class="content">
                                    <p>
                                        <b>Languages:</b> Python, Java, Android, C <br>
                                        <b>Frameworks:</b> Django, Django REST framework.<br>
                                        <b>Tools:</b> MySQL Workbench, Firebase, Git.<br>
                                        <b>Operating System:</b> Ubuntu, Linux, Windows<br>
                                    </p>
                                    <p>
                                        <b>Experience</b>
                                    </p>
                                    <p>
                                        <b>Total Exp. - </b> 1+ Years<br>
                                        <b>Current Employer - </b><a href="https://qainfotech.com/" title="Software Engineer">Software Enginer, QA InfoTech, Noida, India</a><br>
                                    </p>
                                </div>
                              </p>
                            </div>

                              <!--//content-->
                          </div>
                          <!--//section-inner-->
                      </section>
    </div>

  {% endblock %}
