<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">About Me</h1>
    <br>
    <div class="container border  p-5 border-white">
      <section class="about section">
                          <div class="section-inner">

                              <div class="content">
                                  <p>
                                      <b>Languages:</b> Python, Java, Android, C <br>
                                      <b>Frameworks:</b> Django, Django REST framework.<br>
                                      <b>Tools:</b>MySQL Workbench, Git.<br>
                                      <b>Operating System:</b> Ubuntu, Linux, Windows<br>
                                  </p>
                                  <p>
                                      <b>Experience</b>
                                  </p>
                                  <p>
                                      <b>Total Exp. - </b> 1+ Years<br>
                                      <b>Current Employer - </b><a href="https://qainfotech.com/" title="Software Engineer">Software Enginer, QA InfoTech, Noida, India</a><br>
                                  </p>
                              </div>
                              <!--//content-->
                          </div>
                          <!--//section-inner-->
                      </section>
    </div>

  {% endblock %}
